/* General Styling */

html {
    font-size: 125%;
    font-family: 'Mukta', sans-serif;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* Curtain Styling */
.curtain {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.topCurtain {
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
}

.topCurtainRise {
    animation: rise 1s forwards ease-out;
}

@keyframes rise {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

.topCurtain:hover,
.topCurtain:focus {
    cursor: pointer;
}

/* checkmark styling */

.checkmark i,
.xMark i {
    font-size: 300px;
    color: green;
}

.checkmark p,
.xMark p {
    font-size: 2rem;
    margin-top: 10px;
    font-weight: bold;
    color: green;
}

.checkmark,
.xMark {
    text-align: center;
    position: absolute;
    right: 42%;
    top: 30%;
    opacity: 0;
}

.checkmarkAnimation {
    animation: checkmark 3s linear;
}

@keyframes checkmark {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
