html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:4em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}img{border-style:none}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
/* General Styling */

body {
    height: 100vh;
}

html {
    font-size: 125%;
    font-family: 'Mukta', sans-serif;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

header {
    background-color: bisque;
    text-align: center;
}

h1 {
    padding: 1.5rem 0;
    font-weight: 700;
    font-size: 2rem;
}


/*text container*/

.hintTitle {
    font-size: 2rem;
}
.answerContainer {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

.textContainer {
    width: 70%;
    margin: 0 auto;
    padding-top: 150px;
}

.letterContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.letter {
    display: none;
}

.letter.inPlay {
    display: block;
}

input[type=text],
button {
    border-radius: 12px;
    width: 60px;
    height: 60px;
    background-color: bisque;
    border: 2px solid #333;
    text-align: center;
    box-shadow: inset 0 0 5px rgba(51, 51, 51, 0.732),
    0 5px rgba(51, 51, 51);
}

input[type=text]:not(last-child) {
    margin-right: 5px;
}

.buttonContainer {
    margin-top: 60px;
}

.answerSubmit,
.nextWord {
    width: 120px;
}

.answerSubmit {
    margin-right: 20px;
}

.answerSubmit:hover,
.answerSubmit:focus,
.nextWord:hover,
.nextWord:focus {
    cursor: pointer;
}

.answerSubmit:active,
.nextWord:active {
    transform: translateY(3px);
}


/* checkmark styling */

.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: -100%;
    opacity: 0;
}

.checkmark i,
.xMark i {
    font-size: 9rem;
}

.checkmark i,
.checkmark p {
    color: green;
}

.checkmark p,
.xMark p {
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.xMark i,
.xMark p {
    color: red;
}

.feedbackAnimation {
    animation: feedback 4s linear;
}

@keyframes feedback {
    0% {
        opacity: 1;
        top: 0%;
    }

    50% {
        opacity: 0;
        top: 0%;
    }

    100% {
        opacity: 0;
        top: -100%;
    }
}

/* footer styles */
footer p {
    text-align: center;
    font-weight: 700;
    margin: 0;
    padding: 1rem;
    display: block;
}

footer {
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

/* blinking message */
.blinking {
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* landscape view message */
.messageContainer {
    width: 80%;
    height: 200px;
    border: 3px black solid;
    text-align: center;
    background-color: bisque;
    border-radius: 20px;
    margin: 0 auto;
    position: absolute;
    z-index: 100;
    right: 0;
    left: 0;
    top: 300px;
}

.landscapeMessage p {
    padding-top: 70px;
    margin: 0;
}

.landscapeMessage {
    position: relative;
    height: 200px;
}

.fa-times {
    position: absolute;
    right: 15px;
    top: 10px;
}

.fa-times:hover,
.fa-times:focus {
    cursor: pointer;
}

.fa-times:active{
    transform: translateY(1px);
}

/* media query */
@media (max-width: 800px) {
    section {
        margin-top: 180px;
    }
}


@media (max-height: 750px) {
    .textContainer {
        margin-top: 75px;
    }
}

@media (max-height: 450px) {
    .textContainer {
        margin-top: 0;
    }

    .hintTitle {
        margin: 20px auto 0;
        font-size: 1rem;
    }

    .textContainer {
        width: 90%;
    }

    h1 {
        font-size: 1.5rem;
        padding: 15px 0;
    }

    .answerContainer {
        margin: 20px auto;
    }

    .buttonContainer {
        margin-top: 20px;
    }

    .messageContainer {
        top: 100px;
    }
}

@media (max-height: 375px) {
    input[type=text] {
        height: 45px;
        width: 45px;
    }

    .nextWord, 
    .answerSubmit {
        height: 40px;
        width: 80px;
    }

    .messageContainer {
        top: 80px;
    }
}